.Ingredient {
  display: flex;
  flex-direction: row;
  margin-bottom: -18px;
  width: 100%;
  padding: 0px 5px;
}

.Ingredient > p {
  flex-grow: 1;
  flex-basis: 30%;
  padding: 5px;
}

/* .ingredient-emoji {
  margin-right: 8px;
} */

.Ingredient p.calories {
  opacity: 0.5;
  color: black;
}
