.formPage .enterFoodInfoform {
  padding: 10px;
}

.formPage .enterFoodInfoform button {
  margin-top: 10px;
}

.formPage .enterFoodInfoform button:hover {
  cursor: pointer;
}

.formPage .searchResults {
  padding: 10px;
}

.formPage .enterFoodInfoform .form-control {
  margin: 10px 0px;
}
