.overallForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-top: 20px;
}

.slimPossibleSubmit {
  height: 10%;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px 21px;
  text-align: center;
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
}

.slimPossibleSubmitted {
  width: 50%;
  height: 10%;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px 21px;
  text-align: center;
  align-items: center;
  appearance: button;
  background-color: rgb(43, 204, 10);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
}

.submitForm {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submitForm label {
  font-size: 20px;
  margin: 10px;
}

.searchIngredient {
  background-color: transparent;
  border: 3px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.overallForm button:active {
  background-color: #000000;
  color: #ffffff;
}

.meal-input {
  width: 88%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 15px;
  /* margin-right: 31px; */
  margin-left: 0;
}

.input-meal:focus {
  border-color: #1c51ff;
}
.search-input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
  margin-right: 5px;
}

.modal-search-input {
  width: 95%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
  margin-right: 5px;
}

.favMeal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.favMeal p {
  margin: 0;
}

.fav_meal {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-left: 7px;
}

.search-input:focus {
  border-color: #1c51ff;
}

.ingredient-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.ingredient-option {
  font-size: 10px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.ingredient-option p {
  padding: 0;
  margin: 0;
  margin-left: 1px;
  padding-top: 1px;
}

.ingredient-option h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.search-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-result-card {
  width: 88%;
  min-height: 70px;
  border-radius: 34px;
  background: white;
  border: 0.5px solid #77a4ff;
  box-shadow: 0px 4px 4px rgba(192, 226, 255, 0.25);
  outline: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.sr-each {
  text-align: left;
  padding: 0px 14px;
}

.src-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.src-title h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.search-result-card p {
  margin: 0;
  padding: 0;
  width: 50%;
}

.search-result-card h2 {
  margin-bottom: 10px;
  align-items: center;
  font-size: 18px;
}

.search-result-card input {
  margin: 0;
  padding: 0;
}

#mealCheckBox {
  height: 30px;
  width: 30px;
}

.ret_home {
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 1;
  background-color: rgb(161, 118, 54);
  border: 2px solid rgb(142, 94, 23);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 61px;
  height: 57px;
  font-size: 33px;
  text-decoration: none;
}

.ret_home:hover {
  background-color: rgba(161, 118, 54, 0.85);
  transform: scaleX(1.1) scaleY(1.1);
}

.ret_home:active {
  background-color: rgba(161, 118, 54, 0.95);
  transform: scaleX(0.7) scaleY(0.7);
}

#ret_home_img {
  width: 60%;
}

#dropdown-menu {
  max-height: 200px;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-meal-suggested{
  width: 82%;
  margin: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(169, 185, 255);
  border-radius: 5px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.option-meal-suggested div{
  font-size: 20px;
}


.option-meal-suggested-close-button{
  position: absolute;
  top: 11.6%;
  left: 82%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: rgb(165, 165, 165);
}

.modal-item{
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 90%;
}

.close:hover,
.close:focus {
  color: black;
}
